body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #434455;
}

.navigation .link-nav :hover {
    color: #404bbf;
}

.navigation .link-nav .studio :active {
    color: #404bbf;
    text-decoration: underline;
}

.adress .link-adress :hover{
    color: #404bbf;
}

.hero-image {
    color: #ffffff;
    background-color: #2E2F42;
    text-align: center;
}

.hero-image .button1 {
    color: #ffffff;
    background-color: #4d5ae4;
}

.button1 :hover {
    color: #404bbf;
}

.benefits {
    font-size: 0;
}

.team {
    background-color: #f4f4fd;
    text-align: center;
}

footer {
    background-color: #2E2F42;
    color: #f4f4fd;
}
